
html{
  background-color: #D0EEBF;
}


p{
  font-family: courier;
  color: #0A0908;
}

h1{
  text-align: left;
  font-size: 40px;
  color: #001829;
  font-family: courier;
  font-weight: 900;
}

h2{
  text-align: left;
  font-size: 20px;
  color: #791F15;
  font-family: courier;
}

h3{
  color: #FF8C42;
  text-align:center;
  font-family: courier;
  font-size: 30px;
  text-decoration: underline;
  text-decoration-color: #FF751F;
}

header {
  background-color: #424874;
  padding: 5px;
  padding-left: 20px;
}

body {
    padding-bottom: 0px;
    width: 800px;
    margin: 0px auto;
    max-height: 90%;
    background-color: #FFFFFF;
    border: 10px solid #424874;
  }

footer {
  background-color: #424874;
  padding-top: 10px;
  text-align: center;
  color: #34395B;
  font-family: courier;
}


.inset-text {
  padding-left: 20px;
  padding-right: 20px;
}

.pushed{
  padding-left: 10px;
  padding-right: 10px;
}

.for-photos{
  float: right;
  padding:50px;
}
